<!DOCTYPE html>

<html>

<head>
  {{if gt (len .ConfigDict) 0}}
  {{$arc := index .ConfigDict 0}}
  <title>{{$arc.Home_Title }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../sources/css/home_style.css">
  <link rel="stylesheet" href="../../sources/css/archive.style.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row" id="head">
      <div class="col" id="logo">
        <a href="">
          <img src="{{$arc.Home_Author_img}}" alt="">
          <span>{{$arc.Home_Author}}</span>
        </a>
      </div>

      <div class="col" id="navigation">
        <a href="">
          <span>归档</span>
        </a>
        <a href="tags.html">
          <span>标签</span>
        </a>
        <a href="">
          <span>订阅</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <span>{{$arc.Home_Author}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span>{{$arc.Home_Self_introduction}}</span>
        {{end}}
      </div>
    </div>
  </div>
  <div class="container">
    <span>归档 -</span>
    <span>{{.MdCount}}篇文章</span>
  </div>
  <div class="container">
    <ul class="archive-list">
      {{range .Archive_MDInfo}}  
      <li class="archive-item">
        <div class="archive-year">{{ index . 0 }}年</div> 
        <ul class="article-list">
          <li class="article-item"> 
            {{range $i, $j := . }}
            {{if gt $i 0 }}
            <a href="">{{ $j }}</a><br>
            {{end}}       
            {{end}}      
          </li>
        </ul>  
      </li>
{{end}}
    </ul>
  </div>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>