<!DOCTYPE html>
<html>

<head>
    {{if gt (len .ConfigDict) 0}}
    {{$arc := index .ConfigDict 0}}
    <title>{{$arc.Home_Title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../sources/css/home_style.css">
    <link rel="stylesheet" href="../../sources/css/archive.style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="head">
            <div class="col" id="logo">
                <a href="">
                    <img src="{{$arc.Home_Author_img}}" alt="">
                    <span>{{$arc.Home_Author}}</span>
                </a>
            </div>

            <div class="col" id="navigation">
                <a href="">
                    <span>归档</span>
                </a>
                <a href="tags.html">
                    <span>标签</span>
                </a>
                <a href="">
                    <span>订阅</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <span>{{$arc.Home_Author}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>{{$arc.Home_Self_introduction}}</span>
                {{end}}
            </div>
        </div>
    </div>
    <div class="container">
        <span>归档 -</span>
        <span>{{.MdCount}}篇文章</span>
    </div>
    <div class="container">
        <ul class="archive-list">
            {{range .Archive_Year}}
            <li class="archive-item">
                <div class="archive-year">{{.}}</div>
                <ul class="article-list">

                    <li class="article-item">
                        <span class="date">2022-12-28</span>
                        <a href="">2022年，我的年度书单</a>
                    </li>

                    <li class="article-item">
                        <span class="date">2022-12-27</span>
                        <a href="">《通往奴役之路》读后感</a>
                    </li>

                    <li class="article-item">
                        <span class="date">2022-11-30</span>
                        <a href="">简单介绍下 Zwift——有哪些地方可能吸引你，以及如何上手</a>
                    </li>

                    <li class="article-item">
                        <span class="date">2022-10-26</span>
                        <a href="">《欧洲之门》读后感</a>
                    </li>

                    <li class="article-item">
                        <span class="date">2022-08-03</span>
                        <a href="">敬回忆一杯</a>
                    </li>

                    <li class="article-item">
                        <span class="date">2022-07-16</span>
                        <a href="">当我们谈战略的时候，我们在说什么</a>
                    </li>

                    <li class="article-item">
                        <span class="date">2022-06-30</span>
                        <a href="">《深蓝帝国》读书笔记</a>
                    </li>

                </ul>
            </li>
            {{end}}
        </ul>
    </div>
</body>

</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>