<!DOCTYPE html>
<html>

<head>
    {{if gt (len .ConfigDict) 0}}
    {{ $firstConfig := index .ConfigDict 0 }}
    <title>{{ $firstConfig.Home_Title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../sources/css/home_style.css">
    <link rel="stylesheet" href="../../sources/css/archive.style.css">
    <link rel="stylesheet" href="../../sources/css/tags.style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row" id="head">
            <div class="col" id="logo">
                <a href="home.html">
                    <img src="{{$firstConfig.Home_Author_img}}" alt="">
                    <span>{{$firstConfig.Home_Author}}</span>
                </a>
            </div>

            <div class="col" id="navigation">
                <a href="archive.html">
                    <span>归档</span>
                </a>
                <a href="">
                    <span>标签</span>
                </a>
                <a href="">
                    <span>订阅</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <span>{{$firstConfig.Home_Author}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>{{$firstConfig.Home_Self_introduction}}</span>
                {{end}}
            </div>
        </div>
    </div>
    <div class="container">
        <span>标签 -</span>
        <span>{{.TagsCount}}个标签</span>
    </div>
    <div class="container">
        <ul class="tag-list">
            {{range $tag, $count := .TagsInfo}}
            <li class="tag-item">
                <a class="tag-name" onclick="setTimeout(() => {location.href='tag.html'}, 1000)">{{$tag}}<span class="tag-count"> ({{$count}})</span></a>
            </li>
            {{end}}
        </ul>
    </div>
</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../js/tags.js"></script>